<div class="parallax-container valign-wrapper">
  <div class="parallax">
    <img src="../../../../assets/images/parallax-1.png">
  </div>
  <div class="row container">
    <div class="center">
      <h1>portfol.io</h1>
      <h5>An engineer's space to document their amazing projects!</h5>
      <a class="btn-pill waves-effect waves-light z-depth-1-half">Register</a>
    </div>
      <a class="signup btn-pill z-depth-1-half" routerLink="/signup">signup</a>
  </div>
</div>
<div class="section white parallax-between">
  <div class="row container center">
    <div class="col s12 m4">
      <i class="material-icons large">code</i>
      <h5>Made by a developer</h5>
      <h6>This project is made by someone who gets how you think and is just as bad at spelling and social
        situations as you.</h6>
    </div>
    <div class="col s12 m4">
      <i class="material-icons large">search</i>
      <h5>Search Portfolios</h5>
      <h6>Search for people's portfolio projects to learn something new and share your own to inspire others.
        Through the tag based feature, find public projects from other engineers and be jealous you're not
        doing as cool projects as they are.</h6>
    </div>
    <div class="col s12 m4">
      <i class="material-icons large">fingerprint</i>
      <h5>Promote <b>Your</b> Uniqueness</h5>
      <h6>You are you, nobody is like you, embrace yourself for all that you are.</h6>
    </div>
  </div>
</div>
<div class="parallax-container valign-wrapper">
  <div class="parallax white-tint"><img src="../../../../assets/images/parallax-3.png"></div>
  <div class="row container center">
    <div class="col l6 offset-l3 m8 offset-m2 s12">
      <h3 class="parallax-content">Make your projects seen</h3>
    </div>
  </div>
</div>
<div class="section white parallax-between">
  <div class="row container center">
    <h3>Mission Statement:</h3>
    <h5>It's my personal goal to give all developers and engineers the tools and a platform they need to discuss and
      publish their amazing, creative projects.</h5>
  </div>
</div>
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">portfol.io</h5>
        <p class="grey-text text-lighten-4">Idk lol this is just placeholder text</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Help</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Public Source</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Contact Me</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2019 Sincerelysyntax LTC
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
