$primarySky_d1      : #82b3c9;
$primarySky         : #b3e5fc;
$primarySky_l1      : #e6ffff;

$primaryGrape_d1    : #8992c9;
$primaryGrape       : #bac2fc;
$primaryGrape_l1    : #edf5ff;

$secondarySad_d1    : #494949;
$secondarySad       : #757575;
$secondarySad_l1    : #a4a4a4;

$secondaryHappy_d1  : #cbb781;
$secondaryHappy     : #ffe9b1;
$secondaryHappy_l1  : #ffffe3;

$primaryBlue        : #082843;
$primaryBlue_d1     : darken($primaryBlue, 5%);
$primaryBlue_l1     : lighten($primaryBlue, 5%);

$accentBlue         : #009CC2;
$accentBlue_d1      : darken($accentBlue, 5%);
$accentBlue_l1      : lighten($accentBlue, 5%);

$blueGreyIsh        : #1C2D3B;
$blueGreyIsh_d1     : darken($blueGreyIsh, 5%);
$blueGreyIsh_l1     : lighten($blueGreyIsh, 5%);

$greyGrey           : #222222;
$greyGrey_d1        : darken($greyGrey, 5%);
$greyGrey_l1        : lighten($greyGrey, 5%);

// new colors 1/18/19
$newBlue            : #4fc3f7;
$newBlue_d1         : darken($newBlue, 5%);
$newBlue_l1         : lighten($newBlue, 5%);


$newAir             : #f5f5f5;
$newAir_d1          : darken($newAir, 5%);
$newAir_l1          : lighten($newAir, 5%);


$newCreamcicle      : #ff8f00;
$newCreamcicle_d1   : darken($newCreamcicle, 5%);
$newCreamcicle_l1   : lighten($newCreamcicle, 5%);


$newHotPing         : #e91e63;
$newHotPing_d1      : darken($newHotPing, 5%);
$newHotPing_l1      : lighten($newHotPing, 5%);


.newBlue {
  background-color: $newBlue;
  .lighten-1 {
    background-color: lighten($newBlue, 5%)
  }
  .lighten-2 {
    background-color: lighten($newBlue, 10%)
  }
  .darken-1 {
    background-color: darken($newBlue, 5%)
  }
  .darken-2 {
    background-color: darken($newBlue, 10%)
  }
}
.newAir {
  background-color: $newAir;
  .lighten-1 {
    background-color: lighten($newAir, 5%)
  }
  .lighten-2 {
    background-color: lighten($newAir, 10%)
  }
  .darken-1 {
    background-color: darken($newAir, 5%)
  }
  .darken-2 {
    background-color: darken($newAir, 10%)
  }
}
.newCreamcicle {
  background-color: $newCreamcicle;
  .lighten-1 {
    background-color: lighten($newCreamcicle, 5%)
  }
  .lighten-2 {
    background-color: lighten($newCreamcicle, 10%)
  }
  .darken-1 {
    background-color: darken($newCreamcicle, 5%)
  }
  .darken-2 {
    background-color: darken($newCreamcicle, 10%)
  }
}
.newHotPing {
  background-color: $newHotPing;
  .lighten-1 {
    background-color: lighten($newHotPing, 5%)
  }
  .lighten-2 {
    background-color: lighten($newHotPing, 10%)
  }
  .darken-1 {
    background-color: darken($newHotPing, 5%)
  }
  .darken-2 {
    background-color: darken($newHotPing, 10%)
  }
}

.primaryBlue{
  background-color: $primaryBlue;
  .lighten-1 {
    background-color: lighten($primaryBlue, 5%)
  }
  .darken-1 {
    background-color: darken($primaryBlue, 5%)
  }
}
.accentBlue{
  background-color: $accentBlue;
  .lighten-1 {
    background-color: lighten($accentBlue, 5%)
  }
  .darken-1 {
    background-color: darken($accentBlue, 5%)
  }
}
.blueGreyIsh{
  background-color: $blueGreyIsh;
  .lighten-1 {
    background-color: lighten($blueGreyIsh, 5%)
  }
  .darken-1 {
    background-color: darken($blueGreyIsh, 5%)
  }
}
.greyGrey{
  background-color: $greyGrey;
  .lighten-1 {
    background-color: lighten($greyGrey, 5%)
  }
  .darken-1 {
    background-color: darken($greyGrey, 5%)
  }
}
