$primarySky_d1 : #82b3c9;
$primarySky : #b3e5fc;
$primarySky_l1 : #e6ffff;

$primaryGrape_d1 : #8992c9;
$primaryGrape : #bac2fc;
$primaryGrape_l1 : #edf5ff;

$secondarySad_d1 : #494949;
$secondarySad : #757575;
$secondarySad_l1 : #a4a4a4;

$secondaryHappy_d1 : #cbb781;
$secondaryHappy : #ffe9b1;
$secondaryHappy_l1 : #ffffe3;
