@import "colors";
@import "palette_1";

.btn-pill {
  padding: 10px 22px;
  text-decoration: none;
  background-color: $primarySky;
  color: black;
  text-align: center;
  letter-spacing: .5px;
  font-size: 22px;
  outline: 0;
  border: none;
  -webkit-border-radius: 3em;
  -moz-border-radius: 3em;
  border-radius: 3em;
}

