<div class="container">
  <div id="projects-container">
    <ngx-masonry #masonry [options]="masonryOptions" style="margin: 0 auto" [useImagesLoaded]="true">
      <ngxMasonryItem *ngFor="let item of placeholderProjects">
        <div class="project-card">
          <div class="card">
            <div class="card-image">
              <img src="{{item.img}}">
              <span class="card-title">{{item.projectName}}</span>
            </div>
            <div class="card-content">
              <p>
                {{item.desc}}
              </p>
            </div>
            <!--<div class="card-action">-->
              <!--<a href="#">This is a link</a>-->
            <!--</div>-->
          </div>
        </div>
        <!--<div class="project-card">-->
          <!--<img src="{{item.img}}" alt="project image"/>-->
          <!--{{item.projectName}}-->
        <!--</div>-->
      </ngxMasonryItem>
    </ngx-masonry>
  </div>
</div>
