@import "../../../../../sass/theme";

#projects-container {
  margin: 30px auto;
}

.project-card {
  max-width: 350px;
}

.card-title {
  font-weight: 700;
}

#grid {
  margin: 0 auto;
}

// Isotope

.grid {
  background: #DDD;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 300px;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

.chip.highlight {
  background-color: $accent-color;
}

#search {
  height: 64px;
  background-color: $newAir_d1;
}
