/* Created by Shane Melton: all credits go to him for this amazing animated background */
@import "../../../../../sass/theme";

ul {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  padding: 0;
  margin: 0;
  overflow: hidden;
  z-index: -1;

  background: $accentBlue;
  background: -webkit-linear-gradient(top left, $accentBlue 0%, $primaryBlue 100%);
  background: -moz-linear-gradient(top left, $accentBlue 0%, $primaryBlue 100%);
  background: -o-linear-gradient(top left, $accentBlue 0%, $primaryBlue 100%);
  background: linear-gradient(to bottom right, $accentBlue 0%, $primaryBlue 100%);

  li {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    background-color: fade_out(white, .85);
    bottom: -400px;


    -webkit-animation: square 30s infinite;
    -o-animation: square 30s infinite;
    animation: square 30s infinite;

    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -ms-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;

    @for $item from 1 through 40 {
      $size: random(140) + 20;
      &:nth-child(#{$item}) {
        animation-delay: #{random(20)}s;
        animation-duration: #{random(25)+20}s;
        left: percentage((random(98)) / 100);
        width: #{$size}px;
        height: #{$size}px;
        background-color: fade_out(white, ((random(4) + 5)) / 10.0);
      }
    }
  }

}

@-webkit-keyframes square {
  0%   { transform: translateY(-300px); opacity: 0;}
  25%  { opacity: 1; }
  100% { transform: translateY(-1600px) rotate(600deg); }
}
@keyframes square {
  0%   { transform: translateY(-300px); opacity: 0;}
  25%  { opacity: 1; }
  100% { transform: translateY(-1600px) rotate(600deg); }
}

#login-form-wrapper {
  height: 100vh;
}

#login-form-holder {
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
}
